{% extends "paginas/modelo.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<h1 class="mt-5">{{titulo|default:"Cadastro"}}</h1>

<form action="" method="post">
    
    {% csrf_token %}

    {{ form|crispy }}
    

    <button type="submit" class="btn btn-success">Salvar</button>
</form>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/jquery.mask.js' %}"></script>

<script>
    $(document).ready(function () {

        $("#x, #y, .z").attr("type", "text");
        $("#x, #y, .z").addClass("numeros");
        
        $("#id_cpf").mask("000.000.000-00");
        $("#id_cep").mask("00000-000");
        $("input[name*=data]").mask("00/00/0000");
        $('#id_valor_total').mask('000.000.000.000.000,00', { reverse: true });

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);

        // Consulta o CEP com Ajax
        $("#id_cep").blur(function (e) {

            // Limpa os campos
            $("#id_logradouro").val("");
            $("#id_bairro").val("");
            $("#id_cidade").val("");

            var cep = $("#id_cep").val();

            if (cep.length < 9) {
                return;
            }

            $("#div_id_cep").append(
                '<section class="dots-container">' +
                '<div class="dot"></div>' +
                '<div class="dot"></div>' +
                '<div class="dot"></div>' +
                '<div class="dot"></div>' +
                '<div class="dot"></div>' +
                '</section>'
            );

            var url = "https://viacep.com.br/ws/" + cep + "/json/";

            $.getJSON(url, "",
                function (data, textStatus, jqXHR) {

                    if (data.erro != true) {
                        $("#id_logradouro").val(data.logradouro);
                        $("#id_bairro").val(data.bairro);
                        $("#id_cidade").val(data.localidade + "/" + data.uf);
                        $("#id_numero").focus();
                    }


                }
            );

        });

    });

    
</script>

{% endblock %}

