{% load static %}

<!doctype html>
<html lang="pt-br" class="h-100">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Francisco Gabriel Cavalcante Candido">
   

    <title>
        {% block title %}
        Ciscos Sakte Shop
        {% endblock %}
    </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">

    <style>
        .bi {
            vertical-align: 0;
        }
    </style>

</head>

<body class="d-flex flex-column h-100">
    {% block menu %}

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Ciscos Skate Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><i class="bi bi-house"></i>Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'pagina-sobre' %}"><i class="bi bi-house"></i>Sobre</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Listagem
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'listar-marca' %}">Marca</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-produto' %}">Produto</a>
                                <li><a class="dropdown-item" href="{% url 'listar-cliente' %}">Cliente</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'cadastrar-marca' %}">Marca</a></li>
                                <li><a class="dropdown-item" href="{% url 'cadastrar-produto' %}">Produto</a>
                                <li><a class="dropdown-item" href="{% url 'cadastrar-cliente' %}">Cliente</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="nav-item dropdown">                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% endblock %}

    <main class="flex-shrink-0">
        <div class="container">
            {% block conteudo %}
    
            <h1 class="mt-5">Ciscos Skate Shop</h1>
    
            <p class="lead">Seja bem-vindo a Ciscos Skate Shop</p>
    
            <img src="{% static 'assets/skate2.jpg' %}" alt="Diagrama de Classes" style="width:600px; height:400px; ">
            <img src="{% static 'assets/skate3.jpg' %}" alt="Diagrama de Classes" style="width:600px; height:400px; ">

            {% endblock %}
        </div>

    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">Desenvolvido por - Francisco Gabriel Cavalcante Candido</span>
        </div>
    </footer>

    <script src="{%static 'js/jquery-3.6.4.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>


</body>
</html>