{% extends "paginas/modelo.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}

<h1 class="mt-5">Ciscos Skate Shop</h1>

<p class="lead">
    Esse projeto consiste um uma loja virtual para uma Sakte Shop (Loja de artigos para skate e vestuário)
    a fim de facilitar o controle de vendas de uma loja.
    Dessa forma o sistema Ciscos Skate Shop está sendo desenvolvido para trazer uma melhor alternativa para seus usuários! 
</p>

<h3 class="mt-5">Diagrama de Classes</h3>

<img src="{% static 'assets/diagrama.png' %}" alt="Diagrama de Classes">

{% endblock %}