{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-8">
        <h3 class="">Carrinho de Compras</h3>
    </div>
    <div class="col-md">
        <a href="{% url 'cadastrar-carrinho' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg"></i>
            Adicionar Produto
        </a>
    </div>
</div>

<hr>

<div class="table-responsive-lg">
    <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr class="">
                <td>{{ obj.pk }}</td>
                <td>{{ obj.produto.nome }}</td>
                <td>{{ obj.quantidade }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-primary" href="{% url 'atualizar-carrinho' obj.pk %}">
                                    <i class="bi bi-pencil-square"></i>Editar</a></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'excluir-carrinho' obj.pk %}">
                                    <i class="bi bi-trash"></i> Excluir</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="100%">Seu carrinho de compras está vazio.</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% block scripts %}
    
    <script>
        $(document).ready(function () {

            $("#tabela-listar").DataTable();
        });
    </script>
    {% endblock %}
</div>

{% endblock %}