{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-8">
        <h3 class="">Clientes</h3>
    </div>
    <div class="col-md">
        <a href="{% url 'cadastrar-cliente' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg"></i>
            Cadastrar cliente
        </a>
    </div>
</div>

<hr>

<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr class="">
                <td>{{ obj.nome }}</td>
                <td>{{ obj.cpf }}</td>
                <td>{{ obj.telefone }}</td>
                <td>{{ obj.criado_em }}</td>
                <td>{{ obj.atualizado_em }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-primary" href="{% url 'atualizar-cliente' obj.pk %}">
                                    <i class="bi bi-pencil-square"></i>Editar</a></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'excluir-cliente' obj.pk %}">
                                    <i class="bi bi-trash"></i> Excluir</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="100%">Nenhum registro encontrado.</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}