{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-8">
        <h3 class="">Pedidos</h3>
    </div>
    <div class="col-md">
        <a href="{% url 'cadastrar-pedido' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg"></i>
            Cadastrar Pedido
        </a>
    </div>
</div>

<hr>

<div class="table-responsive-lg">
    <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Código</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in carrinho %}
            <tr class="">
                <td>{{ obj.pk }}</td>
                <td>{{ obj.produto.nome }}</td>
                <td>{{ obj.quantidade }}</td>
                <td>{{ obj.produto.preco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% block scripts %}
    
    <script>
        $(document).ready(function () {

            $("#tabela-listar").DataTable();
        });
    </script>
    {% endblock %}
</div>

{% endblock %}