{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
{% if request.user.is_authenticated %}

<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-8">
        <h3 class="">Produtos</h3>
    </div>
    <div class="col-md">
        <a href="{% url 'cadastrar-produto' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg"></i>
            Cadastrar Produto
        </a>
    </div>
</div>

<hr>

<div class="table-responsive-lg">
    <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Marca</th>
                <th>Preço</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr class="">
                <td>{{ obj.nome }}</td>
                <td>{{ obj.marca }}</td>
                <td>{{ obj.preco }}</td>
                <td>{{ obj.criado_em }}</td>
                <td>{{ obj.atualizado_em }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-primary" href="{% url 'atualizar-produto' obj.pk %}">
                                    <i class="bi bi-pencil-square"></i>Editar</a></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'excluir-produto' obj.pk %}">
                                    <i class="bi bi-trash"></i> Excluir</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="100%">Nenhum registro encontrado.</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            <button type="submit" class="btn btn-success">Entrar</button>
        </a>
    </li>
    {% endif %}
    {% block scripts %}

    <script>
        $(document).ready(function () {

            $("#tabela-listar").DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de START até END de TOTAL registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de MAX registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar MENU registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
        });
    </script>
    {% endblock %}
</div>

{% endblock %}