{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md">
        <h3 class="">Pedido: {{ pedido.pk }}</h3>
        <h6 class="">Ciclo: {{ pedido.ciclo }}</h3>

            <h5 class="">Cliente: {{ pedido.cliente.nome }}</h3>
                <h6 class="">CPF: {{ pedido.cliente.cpf }}</h3>
    </div>
</div>

<hr>

<div class="table-responsive-lg">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr class="">
                <td>{{ obj.produto.nome }}</td>
                <td>{{ obj.quantidade }}</td>
                <td>{{ obj.preco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}